# {{ ansible_managed }}
[Unit]
Description={{ item.description }}

[Socket]
ListenStream=/tmp/{{ item.application_name }}.sock

{% for param in item.service_params %}
{{ param.name }}={{ param.value }}
{% endfor %}
[Install]
WantedBy=sockets.target
